.main-container{
    background-color: #e5eaf5;
    /* height: 100vh; */
}
/* For Webkit browsers (such as Chrome/Safari) */
::-webkit-scrollbar {
    width: 04px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar handle on hover */
  }